<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Above Multi-purpose Free Bootstrap Responsive Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="/static/css1/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css1/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/static/css1/jcarousel.css" rel="stylesheet" />
<link href="/static/css1/flexslider.css" rel="stylesheet" />
<link href="/static/css1/style.css" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="/"><img src="/static/img1/logo.png" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li> 
						<li class="active"><a href="about.html">About</a></li>
						<li><a href="work.html">Working</a></li>
						<li><a href="mentor.html">Mentor</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                       
                        <!-- <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					
					<div class="about">
					
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>We are awesome <span class="color">TEAM</span></h3>
									

										<p>Indiansignlanguage.org offers a huge collection of Indian Sign Language (ISL) signs. Each sign has an image, running
										video and threaded discussions. It is <br>an ideal resource to use while you learn/teach Indian Sign Language.</p>
									    <p> Each sign has an image, running video and threaded discussions.  We are continually adding more signs and 
										designing new services to empower the Deaf.</p>
Please share your ideas and comments and help us make this service better.
								</div>
								<a href="https://link.springer.com/article/10.1007/s00521-019-04691-y" class="btn btn-color">Read more</a>  
							</div>
						</div>  
						<br>
							
						 <div class="row">
							<div class="col-md-6">
								<img src="/static/img1/section-image-1.jpg" alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<p>There are thousands of languages in the world. Nearly all of the most popular languages can be translated live using software such as Google Translate. 
									The software used is mainly based on an NLP algorithm which takes in one language through text and produces its translation through text.</p>
								<p> For true live
									 translation, some software utilize voices via a mic to translate a message without having the user type it in. This works great for spoken languages. 
									 But what about the 70 million individuals who either can’t speak or can’t hear and use sign language as a means of communication. </p>
	
								<ul class="list-unstyled">
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Sign language is a
										different language in that it can’t be spoken.</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> It can’t be translated
										 by any current translation software.</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> So how do you
										translate sign language?</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>   With a camera of course and a bit of AI magic!</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i>Cameras are a method of giving computers vision, allowing them 
										to see the world.</li>
								</ul>


						
                            <p> We decided to try and build our own sign language translator. Since we live in India, an ISL (Indian Sign Language) 
								translator made the most sense.</p>
							</div>
						</div>	
						<br/> 
						<hr>
						<br>
						<div class="row">
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Why Choose Us?</span></h3>
								</div>
								<p>After 50 epochs of training, the model achieved 100% validation accuracy within the dataset. That’s quite impressive, but there is a clear reason why the model was able to achieve 100% accuracy: the dataset. When looking at the pictures for one category within the dataset, they are all practically the same photo on the same background. Thus, it was easy for the model to achieve 100% accuracy because there wasn’t much variety between each photo resulting in high accuracy very quickly.
								</p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Our Solution</span></h3>
								</div>		
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">	
									<!-- Panel heading -->
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> SOLUTION STEP # 1
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
											Convolution Neural Nets(CNN) are one of the ways in which a computer can classify an image. 
											They can train on thousands of photos, and learn to classify each one in its correct category, 
											or translation in this case.	</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> SOLUTION STEP # 2
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											I chose to do a simple ISL translation, where I translated the ISL alphabet. 
											It consists of 26 hand signs. 
											I translated the signs into English letters	
										
										
										
									.
								r</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i>SOLUTION STEP # 3
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											4 convolutional and pooling layers were used in this model. For each layer, 5 actions are performed:
											In the first line, the number of filters and filter size is defined. For the first layer, 64 3x3 filters are used.
											 The input size of the image is also defined here as 48x48.
											After the matrix undergoes convolution, forming a feature matrix, it passes through batch normalization. 
											This reduces the shift of hidden layer values. 
											This makes training easier because it stabilizes the weights, improving accuracy.
											We next run it through a Re-LU function. This brings some non-linearity to the layer, 
											allowing the CNN to understand the complicated pictures inputted
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> SOLUTION STEP # 4
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
											The next line is where pooling occurs. We have defined the pooling filter size as 2x2,
											and are using max-pooling. This reduces the matrix size even more.
										   Finally, the matrix is passed through a dropout layer. What the dropout layer does is it
											randomly drops nodes that exist in the neural net. The benefit of dropping the nodes is that net becomes
											 less sensitive to each individual node’s weights. This allows the net to be more generalized in it’s predictions, improving accuracy. 
										   In the model used, we drop 25% of the existing nodes which will be replaced by new ones in the next layeR
										</div>
									 </div>
								  </div>
								</div>
								<!-- Accordion ends -->
								
							</div>
							
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Our Expertise</span></h3>
								</div>								
								<h6>Web Development</h6>
								<div class="progress pb-sm">
								  <!-- White color (progress-bar-white) -->
								  <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>Designing</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>User Experience</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
								<h6>Development</h6>
								<div class="progress pb-sm">
								  <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
									 <span class="sr-only">40% Complete (success)</span>
								  </div>
								</div>
							</div>
							
						</div>
										
						  
						<hr>
						<br>
						<!-- Our Team starts -->
				
						<!-- Heading -->
						<div class="block-heading-six">
							<h3 class="bg-color">Our Team</h3>
						</div>
						<br>
						
						<!-- Our team starts -->
						
						<div class="team-six">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="/static/img1/team1.jpg" alt="">
										<!-- Name -->
										<h4>Nitin Yadav </h4>
										<span class="deg">Full Stack Developer</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="/static/img1/team2.jpg" alt="">
										<!-- Name -->
										<h4>Abhimat Gupta</h4>
										<span class="deg">ML Developer </span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="/static/img1/team3.jpg" alt="">
										<!-- Name -->
										<h4>Manan Gupta</h4>
										<span class="deg">Developer and Deployer</span> 
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member">
										<!-- Image -->
										<img class="img-responsive" src="/static/img1/team4.jpg" alt="">
										<!-- Name -->
										<h4>Saurabh Kumar</h4>
										<span class="deg">App Developer</span> 
									</div>
								</div>
							</div>
						</div>
						
						<!-- Our team ends -->
					  
						
					</div>
									
				</div>
	</section>
	
	<footer  class="footer action-lage bg-mega p-top-80"  >
		<div class="container" >
			<div class="row" >
				<div class="main_features fix roomy-70" style="color:white;">

					<p>
					   <h3> <p class="text-white" style="align-content: center;"> Cameras are used to capture, analyze, and translate the core elements of sign language</p> </h3>
					   <p class="text-white" style="align-content: center;" > Sign Language is a complex and nuanced language that consists of different elements. SignAll has developed innovative,
						patent-pending technology combining computer vision, machine learning, and natural-language processing algorithms.</p>
					</p>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30" > 
							<img src="/static/images/BODY.png" alt="" />
						   
							<div class="f_item_text"  style="color:white" >
								<h3 class="text-white" >BODY</h3>
								<p>The space and location used by the signer are part of the non-manual markers of sign language.</p>

							   
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30">

							<img src="/static/images/HAND.png" alt="" />
							
							<div class="f_item_text" style="color:white">
								<h3 class="text-white">   HANDS</h3>
								<p>The shape, orientation, movement, and location of the hands are some of the key parameters of sign language.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30">

							<img src="/static/images/FACE.png" alt="" />
						   
							<div class="f_item_text"  style="color:white" >
								<h3 class="text-white">FACE</h3>
								<p>Other non-manual markers include the eyes, mouth, brows, or head movements such as nodding or shaking.

									.</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End off row -->
		</div><!-- End off container -->
	</footer><!-- End off Featured Section-->



</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js1/jquery.js"></script>
<script src="/static/js1/jquery.easing.1.3.js"></script>
<script src="/static/js1/bootstrap.min.js"></script>
<script src="/static/js1/jquery.fancybox.pack.js"></script>
<script src="/static/js1/jquery.fancybox-media.js"></script> 
<script src="/static/js1/portfolio/jquery.quicksand.js"></script>
<script src="/static/js1/portfolio/setting.js"></script>
<script src="/static/js1/jquery.flexslider.js"></script>
<script src="/static/js1/animate.js"></script>
<script src="/static/js1/custom.js"></script>
</body>
</html>