<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Above Multi-purpose Free Bootstrap Responsive Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="/static/css1/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css1/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/static/css1/jcarousel.css" rel="stylesheet" />
<link href="/static/css1/flexslider.css" rel="stylesheet" />
<link href="/static/css1/style.css" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
					<a class="navbar-brand" href="/"><img src="/static/img1/logo.png" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li> 
						<li><a href="about.html">About Us</a></li>
						<li><a href="work.html">Working</a></li>
						<li><a href="mentor.html">Mentor</a></li>
                        <li class="portfolio.html"><a href="portfolio.html">Portfolio</a></li>
                        
                        <!-- <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Portfolio</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="portfolio-categ filter">
					<li class="all active"><a href="#">All</a></li>
					<li class="web"><a href="#" title="">Mobile App</a></li>
					<!-- <li class="icon"><a href="#" title="">Mobile App</a></li> -->
					<li class="graphic"><a href="#" title="">Outputs</a></li>
				</ul>
				<div class="clearfix">
				</div>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/1.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/1.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/2.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/2.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="graphic">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="img/works/4.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/4.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/3.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/3.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-4" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/5.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/5.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-5" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/6.png">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/6.png" alt="">
						</li>
						<!-- End Item Project -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/7.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/7.jpeg" alt="">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="graphic">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="/static/img/works/8.jpeg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="/static/img/works/8.jpeg" alt="">
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	</section>
	





	<footer  class="footer action-lage bg-mega p-top-80"  >
		<div class="container" >
			<div class="row" >
				<div class="main_features fix roomy-70" style="color:white;">

					<p>
					   <h3> <p class="text-white" style="align-content: center;"> Cameras are used to capture, analyze, and translate the core elements of sign language</p> </h3>
					   <p class="text-white" style="align-content: center;" > Sign Language is a complex and nuanced language that consists of different elements. SignAll has developed innovative,
						patent-pending technology combining computer vision, machine learning, and natural-language processing algorithms.</p>
					</p>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30" > 
							<img src="/static/images/BODY.png" alt="" />
						   
							<div class="f_item_text"  style="color:white" >
								<h3 class="text-white" >BODY</h3>
								<p>The space and location used by the signer are part of the non-manual markers of sign language.</p>

							   
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30">

							<img src="/static/images/HAND.png" alt="" />
							
							<div class="f_item_text" style="color:white">
								<h3 class="text-white">   HANDS</h3>
								<p>The shape, orientation, movement, and location of the hands are some of the key parameters of sign language.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="features_item sm-m-top-30">

							<img src="/static/images/FACE.png" alt="" />
						   
							<div class="f_item_text"  style="color:white" >
								<h3 class="text-white">FACE</h3>
								<p>Other non-manual markers include the eyes, mouth, brows, or head movements such as nodding or shaking.

									.</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End off row -->
		</div><!-- End off container -->
	</footer><!-- End off Featured Section-->




</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.pack.js"></script>
<script src="/static/js/jquery.fancybox-media.js"></script> 
<script src="/static/js/portfolio/jquery.quicksand.js"></script>
<script src="/static/js/portfolio/setting.js"></script>
<script src="/static/js/jquery.flexslider.js"></script>
<script src="/static/js/animate.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>