<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Sign Language Recoginition</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


        <link rel="stylesheet" href="/static/css/slick/slick.css"> 
        <link rel="stylesheet" href="/static/css/slick/slick-theme.css">
        <link rel="stylesheet" href="/static/css/animate.css">
        <link rel="stylesheet" href="/static/css/iconfont.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/bootsnav.css">

        <!-- xsslider slider css -->


        <!--<link rel="stylesheet" href="/static/css/xsslider.css">-->




        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="/static/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="/static/css/style.css">
        <!--<link rel="stylesheet" href="/static/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/static/css/responsive.css" />

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed">
                <div class="navbar-top bg-grey fix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="navbar-callus text-left sm-text-center">
                                    <ul class="list-inline">
                                        <!-- <li><a href=""><i class="fa fa-phone"></i> Call us: 123</a></li> -->
                                        <li><a href="mailto: nyadav_be18@thapar.edu"><i class="fa fa-envelope-o"></i> Contact us: nyadav_be18@thapar.edu</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>

                <!-- Start Top Search
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div> -->
                <!-- End Top Search -->


                <div class="container"> 
                    <!-- <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>  -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">
                            <img src="/static/images/logo.png" class="logo" alt="">
                            <!--<img src="/static/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>                    
                            <li><a href="about.html">About</a></li>
                            <li><a href="work.html">Working</a></li>  
                            <li><a href="mentor.html">Mentor</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                       
                            <li><a href="#brand">Try System Now</a></li>
                           
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div> 

            </nav>



            <!--Featured Section-->
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-70">
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </div>
                                    <div >
                                       
                                    </div>
                                </div>
                            </div>
                           
                        
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->

            
            <!--Business Section-->
            <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-6">
                                <div class="business_slid">
                                    <div class="slid_shap bg-grey"></div>
                                    <div class="business_items text-center">
                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="/static/images/about-img1.jpg" alt="" />
                                            </div>
                                        </div>

                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="/static/images/about-img1.jpg" alt="" />
                                            </div>
                                        </div>

                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="/static/images/about-img1.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="business_item sm-m-top-50">
                                    <h2 class="text-uppercase"><strong>Methodoly and </strong> System Working</h2>
                                    <ul>
                                        <li><i class="fa fa-arrow-circle-right"></i> Image Acquisition</li>
                                        <li><i class="fa  fa-arrow-circle-right"></i> Pre-processing</li>
                                        <li><i class="fa  fa-arrow-circle-right"></i> Feature Extraction and classifier</li>
                                    </ul>
                                    <p class="m-top-20">To do data pre-processing and classify the static sign images <br>into their respective
                                        letters<br>
                                        To classify the signs dynamically into their respective letters
                                        <br>

                                        To convert the predicted stream of letters/words to speech
            
                                        <br>
                                        To convert words/letters to speech we will use google free<br>
                                         API Text to Speech. 
                                    </p>

                                    <div class="business_btn">
                                        <a href="https://link.springer.com/article/10.1007/s00521-019-04691-y" class="btn btn-default m-top-20">Read More</a>
                                        <a href="#brand" class="btn btn-primary m-top-20">Try Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->

           


            <!--product section-->
        


            <!--Test section-->
          <!-- End off test section -->


            
            <!--images output-->
            <section id="brand" style="text-align: center "  class="brand fix roomy-80">
                
                <div class="col-md-12 col-sm-12 col-xs-12" style="background-image:url('/static/img/header-bg.jpg');">
                    <div class="row_s">
                        <div class="column_s">
                            <div class="intro-lead-in" style="color:black;"><span><b>Select image and get the output in text</b> </span></div>
                            <br><br>
                            <!-- <div  style="text-align: center;">
                                <div class="border"></div>
                                <br> -->
                                
                            <form action = "/uploader" method = "POST" 
                        enctype = "multipart/form-data">
                        <p>Upload Your Image Below</p>
                        <img  width="200" 
                        height="200"  src="{{path}}">
                        <div class="msg"><h1>{{ msg }}</h1></div>
                        <input id="inp" type = "file" name = "file" />
                        <input type = "submit"/>
                        <br><br><br><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#contact">Tell me more</a>
                        </div>


                      
                        
                    </div>
                    

                   
                   
                </div>

            </section><!-- End off Brand section -->


            <!--real time streaming-->
            <section id="action" class="action bg-primary roomy-40">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-md-8">
                                <div class="action_item text-center">
                                    <h2 class="text-white text-uppercase">Work in Progress for real time</h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="action_btn text-left sm-text-center">
                                    <a href="" class="btn btn-default">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <footer  class="footer action-lage bg-mega p-top-80"  >
                <div class="container" >
                    <div class="row" >
                        <div class="main_features fix roomy-70" style="color: blue;">

                            <p>
                               <h3> <p class="text-white" style="align-content: center;"> Cameras are used to capture, analyze, and translate the core elements of sign language</p> </h3>
                               <p class="text-white" style="align-content: center;" > Sign Language is a complex and nuanced language that consists of different elements. SignAll has developed innovative,
                                patent-pending technology combining computer vision, machine learning, and natural-language processing algorithms.</p>
                            </p>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30" > 
                                    <img src="/static/images/BODY.png" alt="" />
                                   
                                    <div class="f_item_text"  style="color:white" >
                                        <h3 class="text-white" >BODY</h3>
                                        <p>The space and location used by the signer are part of the non-manual markers of sign language.</p>

                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">

                                    <img src="/static/images/HAND.png" alt="" />
                                    
                                    <div class="f_item_text" style="color:white">
                                        <h3 class="text-white">   HANDS</h3>
                                        <p>The shape, orientation, movement, and location of the hands are some of the key parameters of sign language.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">

                                    <img src="/static/images/FACE.png" alt="" />
                                   
                                    <div class="f_item_text"  style="color:white" >
                                        <h3 class="text-white">FACE</h3>
                                        <p>Other non-manual markers include the eyes, mouth, brows, or head movements such as nodding or shaking.

                                            .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </footer><!-- End off Featured Section-->






        

        <!-- JS includes -->

        <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>

        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.js"></script>
        <script src="/static/js/jquery.easing.1.3.js"></script>
        <script src="/static/css/slick/slick.js"></script>
        <script src="/static/css/slick/slick.min.js"></script>
        <script src="/static/js/jquery.collapse.js"></script>
        <script src="/static/js/bootsnav.js"></script>



        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>
